body {
    background-color: var(--dark-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: var(--textos);
}

.container a {
    color: var(--green-color);
    text-decoration: none;
}